* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.taskAdder {
    width: 60%;
    margin: 0 auto;
    background-color: darkgoldenrod;
    opacity: 40%;
    padding: 30px 50px;
    margin-top: 5vh;
}
#newEntry {
    font-size: 1.2em;
    border-radius: 5px;
}

button {
    font-size: 1.2em;
}

#myTasks {
    width: 60%;
    height: 300px;
    margin: 5vh auto;
    background-color:lightskyblue;
    opacity: 40%;
    padding: 30px 50px;
   
}