* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.taskAdder {
    margin: 2% auto;
    padding: 10px 15px;
    height: 25vh;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 6px;
    justify-content: center;

}

h1 {
    
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 4.5vh;    
}
#susp {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
    
}
@keyframes blink {
    0% {opacity: 0;}
    49% {opacity: 0;}
    50% {opacity: 100%;}
    99% {opacity: 100%;}
    100% {opacity: 0;}
  }


#newEntry {
    font-size: 1.2em;
    color: white;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    margin: 10px;
    width: 80%;    
}
#newEntry:focus {
    outline: none;
    
}

#newEntry::placeholder {
    color: white;
    opacity: 80%;
}


#submitEl {
    width: 20%;
    height: 5hv;
    margin-bottom: 5px;
}


button {
    font-size: 1.2em;
    margin-top: 5px;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 5px 8px;
    border-radius: 6px;  
}


.middle {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 10px 10%;
    justify-content: space-around;
    
}


#myTasks {
    padding: 20px;
    background-color: black;
    min-height: 70vh; 
    font-family: Arial, Helvetica, sans-serif; 
}

#myTasks li {
    display: flex;
    border: 1px solid white;
    border-radius: 6px;
    justify-content:left;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}

input[type=checkbox] {
    margin: 0 10px;
}

.todo-item {
    margin: 5px 10px;
    color: white;
    font-size: 1.2em; 
    padding: 3px;
    
}
.completed {
    text-decoration: line-through;
    font-style: italic;
}

.closeIcon {
    cursor: pointer; 
    padding: 8px;
    opacity: 0.5;
    filter: invert(75%);
    margin: 0 10px 0 auto;
}
.closeIcon:hover {
    background-color: rgba(242, 242, 242, 0.5);
    color: hsl(0, 0%, 100%);
    height: 100%;
    opacity: 1;

}




            /* Background*/


 @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: #3e0909;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 36;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #6e84f2;
    top: 74%;
    left: 6%;
    animation-duration: 38s;
    animation-delay: -61s;
    transform-origin: 14vw -6vh;
    box-shadow: -100vmin 0 12.81767950062402vmin currentColor;
}
.background span:nth-child(1) {
    color: #6e84f2;
    top: 48%;
    left: 60%;
    animation-duration: 68s;
    animation-delay: -102s;
    transform-origin: 20vw -9vh;
    box-shadow: 100vmin 0 12.824395534063445vmin currentColor;
}
.background span:nth-child(2) {
    color: #772994;
    top: 28%;
    left: 53%;
    animation-duration: 108s;
    animation-delay: -133s;
    transform-origin: -23vw -14vh;
    box-shadow: 100vmin 0 13.4949112885968vmin currentColor;
}
.background span:nth-child(3) {
    color: #e8ea76;
    top: 42%;
    left: 14%;
    animation-duration: 89s;
    animation-delay: -92s;
    transform-origin: 1vw -21vh;
    box-shadow: 100vmin 0 13.087409141113403vmin currentColor;
}
.background span:nth-child(4) {
    color: #6e84f2;
    top: 55%;
    left: 84%;
    animation-duration: 90s;
    animation-delay: -10s;
    transform-origin: 20vw 22vh;
    box-shadow: -100vmin 0 12.682555215808545vmin currentColor;
}
.background span:nth-child(5) {
    color: #772994;
    top: 78%;
    left: 88%;
    animation-duration: 28s;
    animation-delay: -63s;
    transform-origin: 2vw -22vh;
    box-shadow: 100vmin 0 13.092762358557248vmin currentColor;
}
.background span:nth-child(6) {
    color: #772994;
    top: 43%;
    left: 68%;
    animation-duration: 55s;
    animation-delay: -119s;
    transform-origin: 24vw -3vh;
    box-shadow: 100vmin 0 13.399782946563843vmin currentColor;
}
.background span:nth-child(7) {
    color: #6e84f2;
    top: 63%;
    left: 31%;
    animation-duration: 131s;
    animation-delay: -54s;
    transform-origin: -8vw -20vh;
    box-shadow: 100vmin 0 13.253630346132319vmin currentColor;
}
.background span:nth-child(8) {
    color: #6e84f2;
    top: 53%;
    left: 19%;
    animation-duration: 72s;
    animation-delay: -11s;
    transform-origin: 0vw 19vh;
    box-shadow: 100vmin 0 12.858297917489383vmin currentColor;
}
.background span:nth-child(9) {
    color: #e8ea76;
    top: 98%;
    left: 8%;
    animation-duration: 127s;
    animation-delay: -139s;
    transform-origin: 8vw -19vh;
    box-shadow: 100vmin 0 13.364440367573756vmin currentColor;
}
.background span:nth-child(10) {
    color: #6e84f2;
    top: 32%;
    left: 52%;
    animation-duration: 26s;
    animation-delay: -17s;
    transform-origin: -18vw 3vh;
    box-shadow: 100vmin 0 13.361923132648464vmin currentColor;
}
.background span:nth-child(11) {
    color: #e8ea76;
    top: 80%;
    left: 5%;
    animation-duration: 44s;
    animation-delay: -79s;
    transform-origin: 7vw -16vh;
    box-shadow: 100vmin 0 13.27131811316037vmin currentColor;
}
.background span:nth-child(12) {
    color: #772994;
    top: 42%;
    left: 39%;
    animation-duration: 70s;
    animation-delay: -40s;
    transform-origin: 14vw 18vh;
    box-shadow: 100vmin 0 12.693967005276306vmin currentColor;
}
.background span:nth-child(13) {
    color: #6e84f2;
    top: 68%;
    left: 62%;
    animation-duration: 36s;
    animation-delay: -95s;
    transform-origin: -18vw 18vh;
    box-shadow: -100vmin 0 12.850781873577635vmin currentColor;
}
.background span:nth-child(14) {
    color: #e8ea76;
    top: 13%;
    left: 4%;
    animation-duration: 54s;
    animation-delay: -7s;
    transform-origin: -18vw -14vh;
    box-shadow: -100vmin 0 13.108787841742084vmin currentColor;
}
.background span:nth-child(15) {
    color: #e8ea76;
    top: 4%;
    left: 51%;
    animation-duration: 123s;
    animation-delay: -105s;
    transform-origin: -15vw 11vh;
    box-shadow: -100vmin 0 13.49913697072039vmin currentColor;
}
.background span:nth-child(16) {
    color: #6e84f2;
    top: 61%;
    left: 35%;
    animation-duration: 24s;
    animation-delay: -105s;
    transform-origin: 22vw 0vh;
    box-shadow: 100vmin 0 13.355014239908348vmin currentColor;
}
.background span:nth-child(17) {
    color: #772994;
    top: 19%;
    left: 81%;
    animation-duration: 112s;
    animation-delay: -129s;
    transform-origin: -12vw 17vh;
    box-shadow: -100vmin 0 13.110567099854302vmin currentColor;
}
.background span:nth-child(18) {
    color: #772994;
    top: 58%;
    left: 7%;
    animation-duration: 40s;
    animation-delay: -93s;
    transform-origin: 9vw 3vh;
    box-shadow: -100vmin 0 13.061429461449892vmin currentColor;
}
.background span:nth-child(19) {
    color: #6e84f2;
    top: 24%;
    left: 66%;
    animation-duration: 51s;
    animation-delay: -19s;
    transform-origin: -5vw -24vh;
    box-shadow: 100vmin 0 13.110917327166591vmin currentColor;
}
.background span:nth-child(20) {
    color: #772994;
    top: 51%;
    left: 84%;
    animation-duration: 66s;
    animation-delay: -50s;
    transform-origin: -19vw -8vh;
    box-shadow: -100vmin 0 13.419314938362321vmin currentColor;
}
.background span:nth-child(21) {
    color: #e8ea76;
    top: 60%;
    left: 72%;
    animation-duration: 58s;
    animation-delay: -11s;
    transform-origin: -8vw -5vh;
    box-shadow: 100vmin 0 12.799787696496713vmin currentColor;
}
.background span:nth-child(22) {
    color: #772994;
    top: 3%;
    left: 82%;
    animation-duration: 16s;
    animation-delay: -75s;
    transform-origin: 24vw -14vh;
    box-shadow: -100vmin 0 12.59743986799893vmin currentColor;
}
.background span:nth-child(23) {
    color: #772994;
    top: 57%;
    left: 99%;
    animation-duration: 46s;
    animation-delay: -114s;
    transform-origin: -16vw 8vh;
    box-shadow: -100vmin 0 12.636746487457529vmin currentColor;
}
.background span:nth-child(24) {
    color: #772994;
    top: 11%;
    left: 19%;
    animation-duration: 145s;
    animation-delay: -84s;
    transform-origin: 11vw 8vh;
    box-shadow: 100vmin 0 13.090701522829509vmin currentColor;
}
